<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mapa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="wrapper">
      <ion-label for="nombre">Nombre</ion-label>
      <ion-input name="nombre" id="nombre" placeholder="Nombre" [(ngModel)]="usuario" required [disabled]="enviado">
      </ion-input>
    <ion-button (click)="getPosicion()" color="primary" expand="full" [disabled]="enviado">Marcar mi posicion
    </ion-button>
    <ion-button (click)="deletePosicion(usuario)" color="danger" expand="full" [disabled]="!enviado">Borrar Posicion
    </ion-button>
</div>

    <ion-label id="lbl_user" style="float: left;">Usuarios:</ion-label><ion-select placeholder="Selecciona usuario" interface="action-sheet" okTest="Buscar" cancelText="Cancelar" (ionChange)="locateUser(usuarioSeleccionado)" [(ngModel)]="usuarioSeleccionado">
      <ion-select-option style="float: left;" *ngFor="let p of posiciones" [value]="p">{{p.usuario}} a las {{p.timestamp.seconds * 1000 | date: 'dd/MM/y - HH:mm:ss'}}</ion-select-option>
    </ion-select>

    <div id='map'></div>
</ion-content>