#map {
  width: 100%;
  height: 100%;
}
.enLinea{
  display: inline;
}

ion-row {
  width: 100%;
  height: 100%;
}
.botones {
  width: 100%;
  height: 10%;
}
.wrapper {
  border: solid 1px #ccc;
  margin: 5px 2px 2px 5px;  
}

.toolbar {
  margin-inline-start: 5px;
}